body {
  background-image: url('./../images/2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-file-upload {
  position: relative;
  display: inline-block;
  border: 1px solid #c6d3dd;
  border-radius: 40px;
  width: 100%;
  padding: 6px;
  height: 40px;
  margin-top: 10px;
}

.custom-file-upload .btn {
  cursor: pointer;
}

.custom-file-upload .btn {
  background-color: #fcc31f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.custom-file-upload .btn:hover {
  background-color: #fcc31f;
}

#share {
  margin-left: 8px;
  margin-right: 8px;
  color: #3391ee;
  font-size: 20px;
}

 #share-text {
  color: #6c757d;
}


.icons i {
  color:  #3391ee;
  font-size: 18px;
}